<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>订单列表</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- jquery -->
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <!-- bootstrap -->
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap/css/bootstrap.min.css}" />
    <script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
    <!-- jquery-validator -->
    <script type="text/javascript" th:src="@{/jquery-validation/jquery.validate.min.js}"></script>
    <script type="text/javascript" th:src="@{/jquery-validation/localization/messages_zh.min.js}"></script>
    <!-- layer -->
    <script type="text/javascript" th:src="@{/layer/layer.js}"></script>
    <!-- md5.js -->
    <script type="text/javascript" th:src="@{/js/md5.min.js}"></script>
    <!-- common.js -->
    <script type="text/javascript" th:src="@{/js/common.js}"></script>
</head>

<body>

<div class="panel panel-default">
    <div class="panel-heading">秒杀订单列表
        总计:<span th:text="${count}"></span>  支付中:<span th:text="${payCount}"></span>
    </div>
    <table class="table" id="goodslist">
        <tr><td>订单ID</td><td>订单用户</td><td>订单商品图片</td><td>订单商品名称</td><td>秒杀价</td><td>商品数量</td><td>创建时间</td><td>订单状态</td></tr>
        <tr  th:each="order : ${ordersList}">
            <td th:text="${order.order.id}"></td>
            <td th:text="${order.order.userId}"></td>
            <td ><img th:src="@{${order.goods.goodsImg}}" width="100" height="100" /></td>
            <td th:text="${order.order.goodsName}"></td>
            <td th:text="${order.order.goodsPrice}"></td>
            <td th:text="${order.order.goodsCount}"></td>
            <td th:text="${order.order.createDate}"></td>
            <td th:text="${order.order.status}"></td>
        </tr>
    </table>
</div>
</body>
<script>

</script>
</html>
